.ibox-content{
    padding: 0px;
}
.footable thead tr th{
    text-align: center;
    width: 12.5%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}
.footable tbody tr td{
    text-align: center;
    width: 12.5%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 4px;
}